.reveal {
  color: #222;
  font-family: "Open Sans", sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "Bitter", serif;

}

#portada h1 {
  font-size: 1.5em;
}

#portada .autores{
  margin-top: 5%;
  text-align: right;
}
#portada h4 {
  display: inline-block;
  color: #8181F7;
}

#portada small {
  vertical-align: middle;
  color: #888;
  /*color: #CEECF5;*/
}

.cite blockquote{
  /*color: #CEECF5;*/
  box-shadow: none;
  background: transparent;
  font-family: "Bitter", serif;
  font-style: italic;
  width: 90%;
  margin: 1em auto;
}

.cite cite{
  color: #8181F7;
  /*color:#CEECF5;*/
  float: right;
  text-align: right;
}

#nest-introduccion p, #nest-problem p, #problem p, #form-prob p ,#objetives p, #recom p{
  text-align: justify;
}

table td ul {
  list-style: none;
  vertical-align: center;
}
table td ul li{
  display: inline-block;
  width: 100%;
  margin: 5px auto;
}
table td ul.pie-legend span {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 10px;
  vertical-align: middle;
}

.text-left{
  text-align: left;
}

.text-justify {
  text-align: justify;
}

.t-blue {
   color: #8181F7;
}

#objetives ul, #justify ul, #conclu ul, #recom ul, #concept-mobile-app ul, 
#characteristics-mobile-app ul, #users-mobile-app ul, #objetives-mobile-app ul, #type ul {
  list-style: none;
}

#objetives ul li, #justify ul li, #conclu ul li, #recom ul li, #concept-mobile-app ul li, 
#characteristics-mobile-app ul li, #users-mobile-app ul li, #objetives-mobile-app ul li, #type ul li {
  margin: 15px auto;
  padding: 1%;
}

#objetives ul span, #justify ul span, #conclu ul span, #recom ul span, #concept-mobile-app ul span, 
#characteristics-mobile-app ul span, #users-mobile-app ul span, #objetives-mobile-app ul span, #type ul span {
  background-color: rgba(70,191,189,0.4);
  display: inline-block;
  border-radius: 5px;
  height: 20px;
  width: 20px;
  vertical-align: middle;
}