.reveal {
    color: #222;
    font-family: "Open Sans", sans-serif;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
    font-family: "Bitter", serif;
    color: #000;
}

.portada blockquote, .cite blockquote {
  color: #888;
  box-shadow: none;
  background: transparent;
  font-family: "Bitter", serif;
  font-style: italic;
  width: 90%;
  margin: 1em auto;
  width: auto;
  color: #000;
  text-transform: bold;
}
.cite blockquote{
  text-align: justify;
}
.portada h4 {
  text-align: right;
}

.portada h4 > p {
  display: block;
  margin: 1em auto;
  font-size: 0.7em;
  color: #819FF7;
}

.pull-left { 
  float: left;
}
.pull-right { 
  float: right;
}